#clock{
  position: relative;
  height: 32vw;
  width: 32vw;
  background-image: url(img/clock.jpg);
  background-size: 100%;
  margin:auto;
}
#hour,#minute,#second{
  position: absolute;
  background: black;
  border-radius: 10px;
}
#hour {
    width: 3%;
    height: 23%;
    left: 47.8%;
    top: 25%;
    opacity: 0.33;
    transform-origin: bottom;
}
#minute {
    width: 1.7%;
    height: 27.1%;
    left: 48%;
    top: 20%;
    opacity: 0.33;
    transform-origin: bottom;
}
#second {
    width: 0.7%;
    height: 32%;
    left: 48.6%;
    top: 15%;
    opacity: 0.33;
    transform-origin: bottom;
}
